body{
	margin: 20px 50px;
	padding: 20px 100px;
	background-color: #ffffff;
}

h1{
	font-size:24px;
}

.header{
	background-color: #fff0ff;
	width:960px;
	height:50px;
	line-height:13px;
	float:left;
	padding: 20px 100px;	
}

	
.header ul{
	background-color: #fff0f0;
	width:960px;
	clear:right;
	list-style:none outside none;
}

.header li{
    background-color: #0ff0ff;
    float: left;
    height: 40px;
    padding: 0px 80px;
    line-height: 40px;
    list-style: none outside none;



ul{
	margin:0px;
	padding:0px;
}

li{
	list-style: none;
}


.content{
	background-color: #fff0f0;
	float: none;
	height: auto;
	border: 1px solid red;
	padding: 20px 20px;
	
}

.content ul.sidebar {
    background-color: #ffffff;
    float: left;
    list-style: none outside none;
    margin-right: 20px;
    width: 220px;
   }
   
.content ul.sidebar li{
	background-color: #000000;
}


.clearfix{
	clear:both;
	margin:10px auto;
}

#footer {
	border: 1px solid black;
    margin: 600px 330px;
    color:#87CEEB;
    display: block;
    font-family: didot,arial,sans-serif;
    font-size: 9px;
    font-weight: normal;
    line-height: 9px;
    margin: 50px 50px;
    width: 960px;
}

